table {
    border-spacing: 0;
    border-collapse: collapse;
}

td {
    width: 25vw;
    height: 25vw;
}

img {
    width: 20vw;
}

a {
    padding: 0;
    margin: 0;
}

td {
    padding: 0;
    margin: 0;
}